﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Horse Racing Odds</h1>
</div>

<div class="row" data-ng-app="racingapp" data-ng-controller="racingoddsctrl as race">
    <div>
        <h2>Race Odds</h2>
    </div>
    <div>
        
    <table class="table table-striped">
        <tr>
            <th>Number</th>
            <th>Name of Horse</th>
            <th>Total Amount Of Money</th>
            <th>Odds</th>
        </tr>
        <tr data-ng-repeat="odds in race.RaceOdds| orderBy: 'TotalAmount' : 'desc'">
            <td>{{odds.Number}}</td>
            <td>{{odds.HorseName}}</td>
            <td>{{odds.TotalAmount }}</td>
            <td>{{odds.Odds | number: 4}}</td>
        </tr>
    </table>
    </div>

    <div>
        <form name="amountForm">
            <label>Horse Id:</label>
            <input type="number" id="horseid" data-ng-model="race.HorseId" step="1"/>
            <label style="margin-left:50px">Bet Amount (Whole $ Amounts):</label>
            <input type="number" id="amount" data-ng-model="race.AmountToBet" step="1"/>
            <input type="button" value="Add Bet" data-ng-click="race.BetAmount(race.HorseId, race.AmountToBet)" />
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/js/angular/racingodds/racingoddsctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/js/angular/racingodds/racingoddssvc.js"></script>
}